.color_palette {
    display: flex;
}

.inspire_color {
 flex: 1;
 padding: 10px;
}

#inspire_table {
    width: 90%;
    animation-name: "fade-in-full-opacity";
    animation-duration: 1s;
}

#inspire_button {
    padding: 0;
}