.color_palette {
    display: flex;
}

.gallery_color {
 flex: 1;
 padding: 10px;
}

#gallery_table {
    width: 90%;
}

#color_one{
    background-color: red;
}

#color_two{
    background-color: green;
}

#color_three{
    background-color: orange;
}

#color_four{
    background-color: purple;
}

#color_five{
    background-color: #3fffaa;
}

#color_six{
    background-color: #01aa01;
}

#color_seven{
    background-color: #87ed45;
}

#color_eight{
    background-color: #03ff14;
}

#color_nine{
    background-color: #bbbbbb;
}

#color_ten{
    background-color: #1022d3;
}

#color_eleven{
    background-color: #22d2ff;
}

#color_twelve{
    background-color: #bcccff;
}