.color_palette {
    display: flex;
}

.gallery_color {
 flex: 1;
 padding: 10px;
}

#gallery_table {
    width: 90%;
    animation-name: "fade-in-full-opacity";
    animation-duration: 1s;
}

#gallery_button {
    padding: 0;
}

#gallery_table #color_one{
    background-color: red;
}

#gallery_table #color_two{
    background-color: green;
}

#gallery_table #color_three{
    background-color: orange;
}

#gallery_table #color_four{
    background-color: purple;
}

#gallery_table #color_five{
    background-color: #3fffaa;
}

#gallery_table #color_six{
    background-color: #01aa01;
}

#gallery_table #color_seven{
    background-color: #87ed45;
}

#gallery_table #color_eight{
    background-color: #03ff14;
}

#gallery_table #color_nine{
    background-color: #bbbbbb;
}

#gallery_table #color_ten{
    background-color: #1022d3;
}

#gallery_table #color_eleven{
    background-color: #22d2ff;
}

#gallery_table #color_twelve{
    background-color: #bcccff;
}