.color_palette {
    display: flex;
    border: solid thin rgb(90, 90, 90);
}

.gallery_color {
 flex: 1;
 padding: 10px;
}

#gallery_table {
    width: 90%;
    animation-name: "fade-in-full-opacity";
    animation-duration: 1s;
}

#gallery_button {
    padding: 0;
}