.palette_main {
    align-items: initial;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 75px;
}

.users {
    flex: 0 40px;
    padding: 30px 30px 0px 30px;
    font-weight: 750;
    font-size: 1.5em;
    margin: 0;
    justify-content: center;
    animation-name: "fade-in";
    animation-duration: 1s;
}

.palette_table {
    flex: 1;
    padding: 1em 1.5em;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 275px;
    grid-gap: 1em;
}

.colors {
    border-radius: 15px;
}

.color_info {
    background-color: rgba(255, 255, 255, 0.675);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    color: rgb(31, 30, 30);
}

.palette_table #color_one {
    background-color: red;
}

.palette_table #color_two {
    background-color: #ba34cd;
}

.palette_table #color_three {
    background-color: #87fd45;
}

.palette_table #color_four {
    background-color: #cccccc;
}


.interactive_buttons {
    flex: 1;
    padding: 1em 1.5em;
}

#unlock {
    padding: 2px;
    margin: 2px;
}

#reroll {
    background-color: rgb(212, 36, 36);
    border-color: rgba(17, 79, 4, 0);
    margin: 1em 0;
}

#reroll:hover {
    background-color: rgb(168, 37, 37);
    border-color: rgba(240, 248, 255, 0);
}

#reroll:active {
    background-color: rgb(134, 37, 37);
    border-color: rgba(240, 248, 255, 0);
}

@media (orientation: portrait) {
    .content {
        flex-direction: column;
    }
}